<!--Changing the content of this file will impact the VCI export workflows-->
<ExportExtensions>
  <ExportExtension ObjectId="HMI Unified Global Scripts" Value="SIMATIC SD(.yml, .js)" />
  <ExportExtension ObjectId="Code blocks - LAD" Value=".xml" />
  <ExportExtension ObjectId="Code blocks - FBD" Value=".xml" />
  <ExportExtension ObjectId="Code blocks - SCL" Value=".scl" />
  <ExportExtension ObjectId="Code blocks - STL" Value=".xml" />
  <ExportExtension ObjectId="Code blocks - GRAPH" Value=".xml" />
  <ExportExtension ObjectId="Data blocks" Value=".xml" />
  <ExportExtension ObjectId="Safety data blocks (F-DBs)" Value=".xml" />
  <ExportExtension ObjectId="PLC data types" Value=".xml" />
  <ExportExtension ObjectId="F-compliant PLC data types (UDT)" Value=".xml" />
  <ExportExtension ObjectId="PLC tag tables" Value=".xml" />
  <ExportExtension ObjectId="Technology objects" Value=".xml" />
</ExportExtensions>